<article>
    <section class="header">
        Posted on $dateLong$
        $if(author)$
            by $author$
        $endif$
        <div class="info">
            $if(tags)$
            Tags: $tags$
            $endif$
        </div>
    </section>
    <section>
        $body$
    </section>
    <div id="remark42"></div>
</article>
<script>
  var remark_config = {
    host: "https://blog.nigelsim.org/remark", 
    site_id: 'blog',
    components: ['embed'],
    max_shown_comments: 10, 
    theme: 'light', 
  };

  (function(c) {
    for(var i = 0; i < c.length; i++){
      var d = document, s = d.createElement('script');
      s.src = remark_config.host + '/web/' +c[i] +'.js';
      s.defer = true;
      (d.head || d.body).appendChild(s);
    }
  })(remark_config.components || ['embed']);
</script>
