<ul>
    $for(posts)$
        <li>
            <a href="$url$">$title$</a> - $dateLong$
            $if(description)$
            <p class="font-italic">$description$</p>
            $endif$
        </li>
    $endfor$
</ul>
